<% @body_id = 'home-page' %>ваыфва
<% content_for :sidebar do %>фывафыва
  <div data-hook="homepage_sidebar_navigation">фывафыв
    <%= render partial: 'spree/shared/taxonomies' %>аыфвафыва
  </div>
<% end %>
фываыфва
<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>фыва
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>фыва
  <% end %>
</div>

