<div id="spree-header">фываф
  <header id="header" data-hook>ывафыва
    <div class="container">
      <div class="row">фываыфва
        <figure id="logo" class="col-md-4 col-sm-3" data-hook>фывафыва
          <%= logo %>
        </figure>
        <%= render partial: 'spree/shared/nav_bar' %>фывафыва
      </div>
    </div>фываыфва
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>фывафыва
  </div>
</div>
