<% if spree_current_user %>
  <li><%= link_to Spree.t(:my_account), spree.account_path %></li>фывафы
  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>вафываыф
<% else %>фываыфва
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>вафываыфва
<% end %>фывафыва
